@import '../App.css';

h1 {
    font: normal 700 4rem/3rem var(--amatic);
}

sub {
    text-transform: capitalize;
    font: normal 300 2rem/2rem var(--shadow);
}

.login-cap {
    text-transform: capitalize;
    font: normal 300 1.2rem/2rem var(--shadow);
}

h1,
sub {
    color: var(--black-x);
}

.login-box {
    border: 5px solid var(--black);
    padding: 1rem 0.5rem;
    width: 80%;
    max-width: 680px;
    margin: auto;
    margin-top: 8rem;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.btn-l {
    border: 1px solid var(--black);
    background: var(--black-x);
    color: var(--white);
    font: normal 200 1.2rem/1.2rem var(--shadow);
    padding: 0.7rem 1rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: 250ms;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.btn-l:hover {
    background: transparent;
    color: var(--black-x);
}

.btn-group {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}