@import '../App.css';

nav {
    position: absolute;
    z-index: 1;
    width: 25vw;
    border-right: 2px solid var(--black);
    height: 100vh;
    display: grid;
    align-content: space-between;
}

h3 {
    font: normal 300 1.5rem/3rem var(--amatic);
    color: var(--white);
    text-align: center;
}

.username {
    font: normal 400 2rem/0 var(--shadow);
    color: var(--white);
}

nav ul {
    list-style: none;
    display: grid;
    justify-content: center;
    gap: 1rem;
}

.nav-btn {
    width: 100%;
    max-width: 15rem;
    font: normal 200 1.2rem/1rem var(--amatic);
    letter-spacing: 0.1rem;
    border: 1px solid var(--white);
    background: transparent;
    color: var(--white);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 300ms;
}

.nav-btn:hover {
    border: 1px solid var(--black);
    color: var(--black);
    background: var(--white);
    font-weight: 700;
}