@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Shadows+Into+Light&display=swap');

// Font Styles
$amatic: 'Amatic SC', cursive;
$shadow: 'Shadows Into Light', cursive;

// colors
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$black-x: hsl(0, 0%, 20%);