* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

@media screen and (max-width: 680px) {
    * {
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    * {
        font-size: 12px;
    }
}

:root {
    --amatic: 'Amatic SC', cursive;
    --shadow: 'Shadows Into Light', cursive;
    --black: #000000;
    --white: #ffffff;
    --black-x: #333333;
}

body {
    background: var(--black-x);
}