@import '../base/reset';
@import '../base/mixins';

main{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: $black-x;
    .intro-section{
        border: 2px solid $black;
        border-radius: 4px;
        padding: 1rem 2rem;
        width: 90%;
        max-width: 360px;
        background: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include flex(column, center, center, center, 2rem);

        .intro-txt{
            @include flex(column, center, center, center, 0.5rem);
        }
    }
}